
*{
   padding: 0px;
   margin: 0px;
   border: 0px;
}
.boxA {
   width: 300px;
   min-height: 20px;
   border: 3px solid brown;
   margin: 20px auto;
   padding: 10px;
}
.boxC {
   width: 100px;
   height: 100px;
   background-color: #000;
   opacity: 0.4;
}

.boxA > div {
   border: 1px solid;
   padding: 2px;
   margin: 2px;
}
.color {
   color: blue;background-color:  darkgray;width: 400px;
}

.button {
   border: 1px solid red;
   font-size: 12px;
   padding: 2px;
}